<div class="isotope-wrap col-xs-22 col-xs-push-1 no-padding">
    <div class="grid-sizer col-xs-24 col-sm-12 col-md-6 col-lg-6 col-xlg-6"></div>
    {% if include.homepage %}
      {% assign projects = site.project | where:"homepage",true | sort: 'firstelement' %}
    {% else %}
      {% assign projects = site.project | sort: 'firstelement' %}
    {% endif %}
    {% for project in projects %}
        {% assign categories = project.layout    | join:', ' %}
        {% assign categories = "" | append:categories %}
        {% assign url = project.slug %}
        {% include partials/project/project-teaser.liquid homepage=include.homepage url=url featured=project.featured teaser=project.teaser filter=project.layout categories=categories image_src=project.image_src headline=project.title copy=project.short-desc %}
    {% endfor %}
</div>
