<div class="isotope-wrap col-xs-22 col-xs-push-1 no-padding">
    <div class="grid-sizer col-xs-24 col-sm-12 col-md-8 col-lg-6 col-xlg-4"></div>
    {% for project in site.project %}
      {% assign categories = project.lab | join:', ' %}
      {% assign categories = "" | append:categories %}
      {% assign url = project.slug %}
      {% include partials/project/project-teaser.liquid url=url featured=project.featured teaser=project.teaser filter=project.categories categories=categories src=project.teaser_img_src headline=project.title copy=project.teaser %}
    {% endfor %}
</div>
