/*********************
posts + projects page
*********************/

.post-date{
  color: $grey;
  font-size: 2em;
  font-weight: 700;
}
.post-author{
  font-size: 1.25em;
  font-weight: 700;
}

.fullwidth-image-wrap{

  margin: 50px 0;

  .fullwidth-image{

    width: 100%;

    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    @media only screen and (max-width: 640px) {
      height: 300px;
      transform: none;
      position: relative;
      background-size: contain;
      background-attachment: scroll;
      left: 0;
    }
  }
}

.content-image-wrap{
  margin-bottom: 50px;
  img{
    width: 100%;
    height: auto;
    display: block;
  }
}


.caption{
  display: block;
  width: 100%;
  text-align: center;
  color: $grey;
  font-size: 1rem;
  margin-top: 10px;
  /*********************
  changed link style: grey, underlined, with white background
  *********************/
  a{
    text-decoration: underline;
    font-size: 1rem !important;
    color: $grey !important;
    background-color: $white !important;
  }
}

/*********************
contentpage elements
*********************/
.content-element{
  display: block;
  width: 100%;

  img{
    width: 100%;
    height: auto;
    display: block;

  }

  &.left{
    float: left;
    margin-top: 35px;
    margin-right: 40px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  &.right{
    float:right;
    margin-top: 35px;
    margin-right: 0px;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  &.quote{
    @include teaser-shadow();

    background-color: none;
    color: $black;
    text-align: left;
    width: 100%;
    padding: 20px;

    .quote-headline{
        font-size: 1.70rem;
        font-style: Italic;
        display: block;
        line-height: 1.2;
      }
  }

  &.infobox{
    @include teaser-shadow();

    background-color: $primary-color;
    color: $black;
    text-align: left;
    width: 100%;
    padding: 20px;

    .infobox-headline{
      font-weight: 700;
      margin-bottom: 15px;
    }

    .quote-headline{
        font-size: 1.70rem;
        font-style: Italic;
        display: block;
        line-height: 1.2;
      }

    .infobox-copy{
    a{
      text-decoration: underline;
    }
    }
    .infobox-headline, .infobox-copy{
      font-size: 1.25rem;
      display: block;
      line-height: 1.2;
    }

  }

}
