/*********************
filter items
*********************/
.filter-items{

  margin: 30px auto !important;
  display: table;

  .filter-items-headline{
    color: $black;
    font-size: 0.8em;
  }

  .filter-item{
    @include box();
    @include teaser-shadow();
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 15px;
    margin: 6px 4px;

    &.shrinked{
      font-size: 1.25em;
    }

    &.disabled{
      pointer-events: none;
    }

  }

  &.green{

    .filter-item{
      background-color: $primary-color;
      color: $black;

      &.hover, &.active{
        background-color: $black;
        color: $white;
      }
    }

  }

  &.blue{

    .filter-item{
      background-color: $secondary-color;
      color: $white;

      &.hover, &.active{
        background-color: $black;
        color: $white;
      }
    }

  }

  &.black{

    .filter-item{
      background-color: $black;
      color: $white;

      &.hover, &.active{
        background-color: $white;
        color: $black;
      }
    }

  }

  &.white{

    .filter-item{
      background-color: $white;
      color: $black;

      &.hover, &.active{
        background-color: $black;
        color: $white;
      }
    }


  }

}

