---
layout: default
title: Über die OER-Plattform
permalink: /about_oer/
info_text: |

---
<!-- über die Plattform -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Über die OER-Plattform</h1>
            <h2 class="blue about-subline">Wie lässt sich die Qualität von freien Bildungsmaterialien verbessern?</h2>
            <div class="subpage-content">
                <p></p>
            </div>
        </div>
    </section>
    <!-- team -->
    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap">
                <h2 class="section-headline">Redaktion</h2>
            </div>
            <!-- member teasers -->
            {% include partials/member-teasers-OER-Redaktion.liquid %}
        </section>
    </div>
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
