---
layout: default
title: Über die OER-Plattform
permalink: /oer/about
info_text: |

---
<!-- über die Plattform -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Über die Sammlung</h1>
            <h2 class="blue about-subline">Auf der Plattform sammelt die edulabs-Community Unterrichtsideen für zeitgemäße Bildung.</h2>
            <div class="subpage-content">
                <p>Die verlinkten Materialien sind mit offenen Lizenzen nach der <a href="http://opendefinition.org/">Open Definition</a> verfügbar und fördern Partizipation mit digital gestützten Methoden. Die Zuordnung orientiert sich an der KMK-Strategie “Bildung in der digitalen Welt”.</p>
                <h3>Wie die Inhalte entstehen</h3>
                <p>Grundlage der Sammlung sind Empfehlungen aus der pädagogischen Praxis, die wir bei edusprint-Events und den regelmäßigen <a href="/labs/">Lab-Treffen</a> dokumentieren. Die Unterrichtsideen lassen sich nach diversen Kategorien filtern, unter anderem nach digitalen Kompetenzen, Medieneinsatz, Fächern und Zielgruppen.
                    Die Inhalte wurden durch eine Redaktions-AG aus der edulabs-Community anhand folgender Fragen bewertet:</p>
                <ul>
                    <li>Fördern die Unterrichtsideen Partizipation und digitale Mündigkeit (handlungsorientierter Unterricht)?</li>
                    <li>Sind die Materialien anschlussfähig für die Kompetenzen “Bildung in der digitalen Welt” der KMK?</li>
                    <li>Sind sie gut (möglichst "schlüsselfertig") aufbereitet für Lehrende?</li>
                    <li>Sind die Unterrichtsideen und Materialien inhaltlich und fachlich aktuell oder zeitlos?</li>
                </ul>
                <br><br>
                <p><a href="https://docs.google.com/spreadsheets/d/1xTKrEfx9DuegiHcsWEH0nTzTU8x83UVXOi55PujwrO4/edit#gid=0">Die Redaktionsmitglieder vergeben pro Kategorie Zahlen zwischen eins und zehn</a>. Fällt der Durchschnitt aller abgegebenen Bewertungen pro Karte und Kategorie auf einen Wert über fünf, dann taucht die Empfehlung in der Sammlung auf.</p>

                <h3>Mitmachen</h3>
                <p>Du möchtest dich an der Sammlung beteiligen und Inhalte hinzufügen oder die Redaktion unterstützen? Mehr informationen findest du <a href="https://edulabs.de/join/">hier</a>.</p>
            </div>
        </div>
    </section>
    <section class="section col-xs-24">
        <a class="post-btn prev" href="/oer">Zurück zur Sammlung</a>
    </section>
    <!-- team -->
    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap">
                <h2 class="section-headline">Redaktion</h2>
            </div>
            <!-- member teasers -->
            {% include partials/member-teasers-OER-Redaktion.liquid %}
        </section>
    </div>
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
