---
layout: dw
title: Bildung in der Digitalen Welt
permalink: /dw/
type: false
---
<!-- blog -->
<div class="row">
   <section class="section first grey-light col-xs-24">
          <div class="btn-wrap add-card">
          <a href="/dw/add" class="edu-btn black">ADD</a>
          </div>
        <div class="content-wrap">
            <h2 class="section-headline"> Bildung in der Digitalen Welt</h2>
        </div>
        <!-- filters -->
        <div class="themes-menu col-xs-4">
           <h3>Fächergruppen</h3>
          <div class="filter">
          {% for gruppe in site.data.digitalen_welt.fachergruppen %}
          <div class="item"><a href="#" class="filter-item" data-filter=".fach-{{ forloop.index }}">{{ gruppe.name }}</a></div>
          {% endfor %}
          </div>
            <h3>Medieneinsatz</h3>
          <div class="filter">
          {% for media in site.data.digitalen_welt.medieneinsatz %}
          <div class="item"><a href="#" class="filter-item" data-filter=".medien-{{ forloop.index }}">{{ media.name }}</a></div>
          {% endfor %}
          </div>
          <div class="menu">
            <h3>Digitale Kompetenzen</h3>
          {% for theme in site.data.digitalen_welt.themes %}
          <div class="theme menu-button black"><span onclick="$('.subtheme-{{forloop.index}}').slideToggle();">{{ theme.name }}</span>
            {% capture theme_top %}{{forloop.index}}{% endcapture %}
            <div class="filter subtheme-{{forloop.index}} grey-light subtheme" style="display: none">
            {% for subtheme in theme.subthemes %}
              <div class="item submenu-button black filter-item" data-filter=".kmk-{{theme_top}}-{{forloop.index}}">{{ subtheme.name }}</div>
            {% endfor %}
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
        <div class="col-xs-20">
        {% include partials/dw/dw-isotope.liquid %}
        </div>
    </section>
</div>
<!-- include mitmachen section -->
