---
layout: default
title: OER-Unterrichtsideen
permalink: /oer/
---
<!-- edusprint -->
<div class="row">
    <section class="section first grey-light col-xs-24 edusprint">
        <div class="content-wrap">
            <h2 class="section-headline">Unterrichtsideen für zeitgemäße Bildung</h2>
            <div class="page-description">
                <!-- <div><p>Das ist eine communitybasierte Sammlung von Open Educational Resources, die digitale Kompetenzen und Partizipation fördern: filterbar und frei lizenziert.<br><a href="/oer/about" target="_blank">Weitere Informationen</a></p></div> -->
                <div><p class="more-btn">Hier entsteht eine Sammlung für OER-Unterrichtsideen für zeitgemäße Bildung mit digital gestützten Methoden, nachnutzbar mit freien Lizenzen.</p></div>
                <div class="more-block closed"><p class="less-btn">Die Inhalte wurden durch eine Redaktions-AG aus der edulabs-Community ausgewählt, das Tool befindet sich noch im Aufbau. Die Auswahl konzentriert sich auf partizipative Formate und orientiert sich an der KMK-Strategie "Bildung in der digitalen Welt". Fragen zum Projekt beantworten wir gerne unter <a  href="mailto:info@edulabs.de">info@edulabs.de</a><br></p></div>
            </div>
        </div>
        <!-- filters -->
        <div class="filter-items green">
            {% include partials/filters.liquid %}
        </div>
        <!-- edusprint filters -->
        {% include partials/edusprint/edusprint-filters.liquid %}
        <!-- blog teasers -->
        {% include partials/edusprint/edusprint-isotope.liquid %}
    </section>
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
