---
layout: default
title: Edusprint Post
permalink: /edusprint-post/
---
<!-- a edusprint post -->
<div class="row">
    <section class="section first col-xs-24 edusprint">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Videozaubertricks</h1>
        </div>
        <!-- the filters -->
        {% include partials/edusprint/edusprint-filters-post.liquid %}
        <div class="edusprint-post-content">
            <div class="content-wrap subpage">
                <div class="subpage-content">

                    <h2 class="section-headline">Kurzbeschreibung:</h2>
                    <p class="excerpt">Ein Hut verschwindet, plötzlich habe ich eine andere Jacke an, eben
                        noch die Hände leer – zack hat die Jugendliche ein Smartphone in der
                        Hand – technisch simpel erstellte, inhaltliche je nach Aufgabenstellung
                        durchaus komplex und sehr kreativ einsetzbar. Auch in Lehrerfortbildungen
                        sehr spannend.
                    </p>

                    <h3>Wirkungen und Lernziele:</h3>
                    <p>Intensive Teamerfahrung für die Gruppen (2-6er Gruppen pro Gerät).
                        Erlernen simpler Videoschnittsoftware – vorzugshalber Tablet oder
                        Smartphone App. Projekt leicht erweiterbar durch Upload in den eigenen
                        Blog/Schulwebseite. Da die Aufgabenstellung inhaltlich variabel ist, kann
                        die Methode nahezu für alle Fächer angewendet werden.</p>

                    <h3>Empfehlungen und Tipps:</h3>
                    <p>Der Link führt zu Beispielvideos & pdf mit Versuchsaufbau sowie
                        Dokufotos. Eine Schritt für Schritt Anleitung für den ersten "unkreativen"
                        Zaubertrick liegt bei. Genutzt wurde die Idee bisher für folgendes:</p>
                    <ol>
                        <li>VorschülerInnen haben mit 4 Kleidersettings den Frühling, Sommer,
                            Herbst und Winter als Videozaubertrick umgesetzt.</li>
                        <li>SchülerInnen haben für einen Zirkusauftritt die Videos im Beispiel
                            erstellt und dann in die Zirkusaufführung eingebaut.</li>
                        <li>Jugendliche haben im Sternchenthema (Bildungsplan BW)
                            "Selbstdarstellung" in Kunst ein Vorher und ein Nachher
                            (Wie wäre ich gerne?) erstellt.</li>
                    </ol>
                    <p>Es ist zwingend nötig, mit Stativ zu arbeiten. Nur so werden die Videos
                        zufriedenstellend. Stative können aber auch Milchpackungen/ Stühle/
                        Boxen usw. sein. Hier finden SchülerInnen kreative Möglichkeiten, sollten
                        keine Stative vorhanden sein.</p>

                    <p class="link-list">
                        <span class="link-list-headline">Zum Material</span>
                        <a class="external-link" href="http://rainbow-unicorn.com" target="_blank">Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet haruptatiis</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="edusprint-authors-wrap col-xs-24 col-md-22 col-md-push-1 col-lg-16 col-lg-push-4">
                    {% include partials/edusprint/edusprint-author.liquid name="Thorsten Belzer" email="throsten.belzer@gmail.com" website="throsten-belzer.de"  url="http://throsten-belzer.de"  %}
                    {% include partials/edusprint/edusprint-author.liquid name="Alexandra Meller" email="alexandra.m@gmail.com" website="alexandra.meller.pl"  url="http://alexandra-meller.pl"  %}
                </div>
            </div>

            <div class="edupsprint-btn-wrap"><a class="edu-btn blue" href="/sprint">ZURÜCK ZUR SAMMLUNG</a></div>
            <div class="edupsprint-btn-wrap">
                <h3>LIZENZ:</h3>
                <a class="public-domain" href="https://de.wikipedia.org/wiki/Gemeinfreiheit" target="_blank">
                    <img class="img-responsive" src="/assets/img/static/public-domain.png"/>
                </a>
            </div>
        </div>
    </section>
</div>