---
layout: default
---
<!-- hero -->

<div class="row">
    <section class="hero home col-xs-24">
        <div class="logo">
            <img src="{{ site.baseurl }}/assets/img/static/edulabs-logo.svg"/>
        </div>
    </section>
</div>
<!-- intro -->
<div class="row">
    <section class="section col-xs-24">
        <div class="content-wrap">

            <!-- INSPECT: {{ site.dw | inspect}} -->
                  <h1 class="regular">edulabs fördert offene & zeitgemäße Bildung</h1>
                  <p>Das Projekt unterstützt und vernetzt Menschen, die neue, digitale Bildungsformate entwickeln und unter freien Lizenzen teilen.</p>
              </div>
              <div class="content-wrap btn-wrap">
                  <a class="edu-btn black" href="/about" target="_blank">Über das Projekt</a>
              </div>
          </section>
      </div>

<!-- Aktuelles -->
<div class="row">
    <section class="section green col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Aktuelles</h2>
            <p>Du findest hier bevorstehende Veranstaltungen und ein Highlight aus dem Blog</p>
        </div>
        <!-- blog teasers -->
        <div class="isotope-wrap col-xs-22 col-xs-push-1 no-padding">
            <div class="grid-sizer col-xs-24 col-sm-12 col-md-8 col-lg-6 col-xlg-4"></div>

            {% assign posts = site.posts | slice: 0, 3 %}
            {% for post in posts %}
              {% assign categories = post.categories | join:', ' %}
              {% assign categories = "#" | append:categories %}
              {% include partials/blog/blog-teaser.liquid date=post.date featured=post.featured url=post.url filter=post.categories categories=categories src=post.teaser_img_src headline=post.title copy=post.teaser %}
            {% endfor %}
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn black" href="/blog" target="_blank">Alle anzeigen</a>
        </div>
    </section>
</div>

<!-- Angebote -->
<div class="row">
    <section id="labs" class="section col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Angebote</h2>
            <p>Das Projekt arbeitet auf folgenden Ebenen, um zeitgemäße Bildung voranzubringen</p>
        </div>
        <!-- teasers -->
        {% include partials/offer-teasers.liquid %}
    </section>
</div>

<!-- OER-Sammlung -->
<div class="row">
    <section class="section green col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline white">Zeitgemäße Unterrichtsideen</h2>

            <p>Die edulabs-Community empfiehlt die folgenden Unterrichtsideen, um zeitgemäße Bildung und Partizipation zu fördern. Sämtliche Materialien sind frei nachnutzbar.</p>
        </div>
        {% include partials/edusprint/edusprint-isotope.liquid visible=1 number=3 %}
        <div class="content-wrap btn-wrap">
            <a class="edu-btn black" href="{{ site.baseurl }}/oer" target="_blank">zur Sammlung</a>
        </div>
    </section>
</div>

<!-- Projekte und Initiativen -->
<div class="row">
    <section class="section  col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Projekte und Initiativen</h2>

            <p></p>
        </div>
        <div class="row">
            {% include partials/project/project-isotope.liquid homepage=true %}
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn black" href="{{ site.baseurl }}/projects" target="_blank">Weitere Projekte</a>
        </div>
    </section>
</div>

