---
layout: default
---
<section class="section-grey-header">
    <div id="innerback" class="inner">

        <div class="row row-eq-height splash">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
            <div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
                <div class="header-text">
                    <h2><br>Offene Bildung mit digital gestützten Methoden</h2>

                    <p style="text-align: justify;
/* hyphens */
">
                        Wie lässt sich <span class="backcolor">Lernen und Lehren</span> offen gestalten? edulabs
                        bringen Menschen zusammen, die neue, <span
                            class="backcolor">digitale Bildungs&shy;formate</span> entwickeln und als <span
                            class="backcolor">OER</span> teilen.<br><br></p>
                    <raw class="logo-note">*&nbsp;<span class="logo-note-txt">(neue Seite ab 08/2017)</span>
                        <br>
                        <br>
                    </raw>
                    <div style="float: left;width: 47%;">
                        <a href="https://www.bmbf.de/"><img class="img-responsive" style="width: 204px; height: auto;"
                                                            src="img/bmbf_logo.png"
                                                            alt="Logo BMBF"></a>
                        <br>
                    </div>
                    <div style="float: left;width: 6%;">&nbsp;</div>
                    <div style="float: left;width: 47%;">
                        <br>
                        <a href="https://okfn.de/"><img class="img-responsive" style="width: 204px; height: auto;"
                                                        src="img/logo-okfn.png"
                                                        alt="Logo okfn DE">
                        </a>
                    </div>
                    &nbsp;
                    <br>
                    <br>

                </div>
                <br>


                <div id="lizenzhinweis">Bild: <a href="https://www.flickr.com/people/45335565@N00">Chris Koerner</a>
                    from St. Louis, USA, <a
                            href="https://commons.wikimedia.org/wiki/File:MediaWiki_1.25_(17868955499).jpg">MediaWiki
                        1.25 (17868955499)</a>, Bildausschnitt, <a
                            href="https://creativecommons.org/licenses/by-sa/2.0/legalcode">CC BY-SA 2.0</a>
                </div>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-4" style="text-align: center;">
                <row class=" hidden-xs">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </row>
                <row>
                    <br>
                    <br>
                    <div class="col-xs-12 col-centered">
                    </div>
                </row>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <!-- row -->
    </div>
</section>


<section>
    <div id="mitmachen" class="row cta-blue splash">
        <div class="col-xs-1 col-md-1 col-lg-2"></div>
        <div class="col-xs-10 col-md-10 col-lg-8 ">
            <h2>Mitmachen und informiert bleiben</h2>
            <p>Freie Bildungsmaterialien sind Dir wichtig? <span class="backcolor">Du findest, dass digitale Bildung mehr als ein digitales Arbeitsblatt ist?</span>
                Dann freuen wir uns auf Dich und Deine Erfahrungen. Über unseren Newsletter erhältst Du
                Informationen zu den Planungsgesprächen, an denen Du teilnehmen kannst, hinzu kommen aktuelle
                Informationen zum Projektfortschritt und den ersten Lab-Treffen.</p>
            <a class="btn btn-lg btn-default"
               href="http://okfn.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&amp;id=9ceae2ed43"
               role="button">Zum Newsletter »</a>
               <a class="btn btn-lg btn-default"
                  href="https://hackdash.org/dashboards/edulabs"
                  role="button">Zu den Lab-Projekten »</a>
        </div>


        <div class="col-xs-1 col-md-1 col-lg-2"></div>
    </div>
    <!-- row -->
</section>
<section id="Events" class="section-grey">
  <div class="row">
      <div class="col-xs-1 col-md-1 col-lg-2"></div>
      <div class="col-xs-10 col-md-10 col-lg-8">






      <div class="blogexcerpt"><h2>Events</h2><br></div>
      <p>Bei den folgenden Veranstaltungen trefft ihr das edulabs-Team vor Ort:</p>
      <div class="events">

        <h3 class="entrytitle"><!-- begin event -->
            Di, 27.06.2017 18:30
            <u><a href="https://www.meetup.com/edulabsBE/events/240816435/">edulabs-Treffen an der TU Berlin</a></u>
            <div class="trenner"></div>
        </h3><!-- end event -->

        <h3 class="entrytitle"><!-- begin event -->
            Do, 06.07.2017 17:00
            <u><a href=""https://www.meetup.com/edulabsBE/events/241083749/">Public Call</a></u>
            <div class="trenner"></div>
        </h3><!-- end event -->

        <h3 class="entrytitle"><!-- begin event -->
            Do, 18.07.2017 18:30 edulabs-Treffen an der TU Berlin
            <div class="trenner"></div>
        </h3><!-- end event -->

      </div>





      </div>




      <div class="col-xs-1 col-md-1 col-lg-2"></div>
  </div>
</section>
<section id="blog" class="section-grey">
    <div class="row">
        <div class="col-xs-1 col-md-1 col-lg-2"></div>
        <div class="col-xs-10 col-md-10 col-lg-8">
            <div class="blogexcerpt"><h2>Aus dem Blog</h2></div>
            <div class="blog-index">
                {% assign post = site.posts.first %}
                {% assign content = post.content %}
                {% include post_detail.html %}
            </div>
            <div class="nextposts"><strong><h3>Weitere Beiträge:</h3></strong></div>
            <div class="nextcontent">
                <p>
                    <ul>
                        {% for post in site.posts limit:3 %}
                        <li>
                            <h3><span class="date">{{ post.date | date: '%-d %B %Y' }}</span> - <u><a
                                    href="{{ post.url }}">{{ post.title }}<br></a></u></h3>
                <p>{{ post.excerpt }}<br><br></p>
                </li>
                {% endfor %}
                </ul></p>
                <div class="trenner">
                    <hr>
                </div>
                <div class="blogexcerptend"><p><a href="/blog">--> Zum Blog</a></p></div>
            </div>
        </div>
        <div class="col-xs-1 col-md-1 col-lg-2"></div>
    </div>
</section>
<section id="projekt">
    <div class="row row-eq-height splash cta-blue">
        <div class="col-xs-1 col-md-1 col-lg-2"></div>
        <div class="col-xs-10 col-md-10 col-lg-8">
            <h2>Über das Projekt</h2>
            <p class="mehrspaltig"><span class="backcolor">Wie lassen sich offene Bildungsangebote mit digital gestützten Methoden gestalten?</span>
                Edulabs sind lokale Gruppen aus Menschen, die ihre didaktischen, technischen und gestalterischen
                Fähigkeiten einsetzen, um
                zusammen innovative und nachnutzbare Bildungsmaterialien zu entwickeln.</br>
                Das Pilotprojekt ist am 1.3.2017 in den Regionen Berlin, Baden-Württemberg und Nordrhein-Westfalen
                gestartet. Die Labs verstehen sich als regionale Inkubatoren für Bildungsformate, in die digitale
                Methoden auf neuartige Weise eingebunden werden. In drei
                Bundesländern organisiert das Projekt regelmäßige Treffen von interdisziplinären Teams, in denen
                Materialien und digital gestützte Methoden erstellt, dokumentiert und verbessert werden. Die
                Lab-Projekte werden didaktisch und technisch
                begleitet, sowie bei der Vernetzung mit Bildungsträgern unterstützt.</p>
        </div>
        <div class="col-xs-1 col-md-1 col-lg-2"></div>
    </div>
    <!-- row -->
</section>
