---
layout: default
title: Mitmachen
permalink: /join/
---
<!-- über das projekt -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Mitmachen</h1>
        </div>
        <!-- a fullwidth image -->
        {% include partials/content/content-fullwidth-image.liquid src="/assets/img/static/lab-1080x720-1.jpg" caption="Bild: <a href=\"http://katringreiner.com/\">Katrin Greiner</a>, Lizenz: CC-BY 4.0"%}
        <div class="content-wrap subpage subpage-content">
            <h3>Informiert bleiben</h3>
            <p>Über den <a href="http://okfn.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&id=9ceae2ed43">edulabs
                Newsletter</a> bekommst du ein monatliches Update über den aktuellen Stand der edulabs.</p>
            <h3>Projekte starten</h3>
            <p>Zusammen lässt sich mehr erreichen: Mit der Expertise aus verschiedenen Bereichen entsteht Neues in der
                Bildung. Wer Projektideen hat, ist herzlich eingeladen, sie bei einem <a href="/labs">edulabs-Treffen</a> vorzustellen, um
                das Vorhaben im Team voranzubringen.

                Bitte nutzt das <a
                        href="/projects/add">edulabs Online-Formular</a>, um eure Ideen zu
                konkretisieren und es Mitgestalter*innen durch die Veröffentlichung eurer Idee möglichst leicht zu machen, Teil des Projektes zu werden.
                Außerhalb der Lab-Treffen kommunizieren die Teilnehmenden über die <a href="https://listen.jpberlin.de/mailman/listinfo/edulabs">edulabs Mailingliste</a>, die ebenfalls
                für die Vorstellung von Projekten genutzt wird. Für den schnellen und chatbasierten Austausch steht ein Slack-Channel zur Verfügung.</p>
            <h3>Vorhaben mit Rat und Tat unterstützen</h3>
            <p>
                <!-- include floated image -->
                {% include partials/content/content-float-image.liquid float="right"
                src="/assets/img/static/edulabsBE.jpg" caption="Gemeinsam offene Bildung gestalten: im edulabsBE" %}
                Du kannst coden, schreiben, hast ein Händchen für Design oder pädagogische Erfahrung? Du möchtest freie
                Bildungsformate voranbringen?
                Dann bist du herzlich eingeladen, Teil von edulabs zu werden und Projekte
                durch Engagement und gute Ratschläge zu unterstützen! Komm einfach zu einem <a href="/labs">Lab-Treffen</a> in deiner Nähe
                oder melde dich für die <a href="https://listen.jpberlin.de/mailman/listinfo/edulabs">Mailingliste</a> an und gestalte mit uns freie und zeitgemäße Bildung.</p>
            <h3>Zur Sammlung für zeitgemäße OER beitragen</h3>
            <p>Auf <a href="/oer">edulabs.de/oer</a> empfiehlt die edulabs-Community Unterrichtsideen, um zeitgemäße Bildung und Partizipation zu fördern. Sämtliche Materialien sind frei nachnutzbar. Du hast mit bestehenden Formaten besonders gute Erfahrungen gesammelt oder selbst welche erstellt und bist der Meinung, dass sie gut in die Sammlung passen? Dann freuen wir uns, wenn du eine Materialkarte <a href="/oer/add">erstellst</a> und uns eine kurze <a href="mailto:info@edulabs.de">Mail</a> schreibst. <a href="/oer/about">Hier</a> erfährst du, welche Rahmenbedingungen die Materialien erfüllen sollten.</p>
            <!-- <h3>Austauschen und Netzwerken</h3> -->
                <!-- <p>Du möchtest dich darüber hinaus auch an Diskussionen beteiligen und mit Gleichgesinnten zum Thema offene Bildung vernetzen? -->

                <!-- include floated image -->
                <!-- {% include partials/content/content-float-image.liquid float="left" src="/assets/img/static/public_call.jpg" caption="Der edulabs Call." %} -->
                <!-- Ab September organisieren wir wieder regelmäßig einen Public Call, an dem ihr per Laptop, Smartphone oder Telefon teilnehmen könnt. Die Termine für die Calls und die Zugangsdaten findet ihr rechtzeitig vorher im <a href="/blog">Blog</a>.</p> -->
              <div class="blue subpage-content">
              </div>
        </div>
    </section>
</div>
