---
layout: default
title: Labs
permalink: /labs/
---
<!-- blog -->
<div class="row">
    <section id="labs" class="section first green col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Labs</h2>
            <p>Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet haruptatiis apereca ercipictem
                quas dolorero beate aut doloribus rectem aut et accupidias ma dolNusae nus exerrum
                necture ipsus am exeremquo veni non exped quod quos ut officid igendun tiatur, ullest,
                to eatiostrum fugiat que quis eatquam re et quiatusda.</p>
        </div>
        <!-- lab teasers -->
        {% include partials/lab-teasers.liquid %}
    </section>
</div>

<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
