---
layout: default
title: Projekte
permalink: /projects/
---
<!-- blog -->
<div class="row">
    <section class="section first green col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Projekte & Initiativen</h2>
                <p>Initiativen und Projektgruppen aus der edulabs-Community entwickeln Projekte für zeitgemäße Bildung. Du hast eine Idee und suchst Unterstützung? Dann veröffentliche sie über den folgenden Link. Du möchtest aktiv werden? Dann besuche ein Lab in deiner Nähe.</p>
            <div class="content-wrap btn-wrap">
                <a class="edu-btn black" href="/projects/add" target="_blank">Projekt eintragen</a>
            </div>

        </div>
        <!-- filters -->
        <div class="filter-items white">
            {% include partials/projects-filters.liquid %}
        </div>
        {% include partials/project/project-isotope.liquid homepage=false %}
    </section>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
</div>

