---
layout: default
title: Projekte
permalink: /projects/
---
<!-- blog -->
<div class="row">
    <section class="section first green col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Projekte</h2>
            <!--    <p>Von der Idee zum Projekt: In den edulabs entwickeln Teams zusammen Projekte für zeitgemäße Bildung. Projektideen sammeln wir zuerst im <a href="https://hackdash.org/dashboards/edulabs">edulabs Hackdash</a>. Hat sich eine Arbeitsgruppe gefunden, wird diese sowie das Vorhaben im Folgenden aufgeführt.</p> -->
        </div>
        <!-- filters -->
        <!--
        <div class="content-wrap filter-items white">
            {% include partials/projects-filters.liquid %}
        </div> -->
        <!-- blog teasers -->
        {% include partials/project/project-isotope.liquid %}
    </section>
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
