---
layout: default
title: Über die OER-Plattform
permalink: /Fortbildungen
info_text: |

---
<!-- über die Plattform -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Fortbildungen und Workshops</h1>
            <div class="subpage-content">
                <div class="img-wrap-center">
                    <img src="/assets/img/static/lab-1080x720-3.jpg" style="width: 100%; display: inline-block">
                    <div class="caption" id="lizenz" tabindex="-1" style="text-align: right"></div>
                </div>
                <h3>Einführung in die edulabs-Sammlung mit zahlreichen Unterrichtsideen</h3>
                <p>Unter <a href="/oer">www.eduabs.de/oer</a> sammeln wir praxisorientierte und fächerübergreifende Unterrichtsideen für eine zeitgemäße Medienbildung, die auch in der Schule realisierbar ist.
                    Zu unterschiedlichen Kompetenzbereichen bietet die Sammlung erprobte Materialien, Methoden und Werkzeuge um ein kritisch-kompetentes Handeln in digitalen Lebenswelten zu befördern - eine Ausrichtung, die gemäß der bundesweiten <a href="https://www.kmk.org/themen/bildung-in-der-digitalen-welt/strategie-bildung-in-der-digitalen-welt.html">KMK-Strategie</a> nach und nach in den Lehrplänen der Länder Berücksichtigung findet.</p>
                <!-- include ionfobox -->
                {% include partials/content/content-infobox.liquid float="right" headline="Kompetenzorientierte Unterrichtsideen finden" copy="<a href='/oer'><img src='/assets/img/blog/2018/Februar/Interview_Ralph_Caspers/OER-Filter_preview.jpg' style='width: 100%; display: inline-block'></a><br>Die edulabs-Community empfiehlt Unterrichtsideen, um zeitgemäße Bildung und Partizipation zu fördern.<br><br><a href='/oer'>Zur Sammlung</a>" %}

                <p>Für interessierte Lehrkräfte und Kollegien bieten wir eine speziell auf diese Unterrichtsempfehlungen zugeschnittenes Fortbildungsformat: neben einer Einführung in Chancen und Spannungsfelder einer zeitgemäßen Medienbildung wird eine Auswahl von Unterrichtsideen praktisch ausprobiert, diskutiert und für das eigene Lehrumfeld weiterentwickelt.
                    Die genaue inhaltliche Ausrichtung der Praxisübungen stimmen wir im Vorfeld auf die Bedarfe der jeweiligen Lehrenden ab - Beispiele sind etwa (1) <a href="https://www.edulabs.de/oer/30utp/">Erklärvideos im Unterricht</a>, (2) <a href="https://www.edulabs.de/oer/vuy8p/">Mobiles Lernen als Methode im Unterricht</a>, (3) <a href="https://www.edulabs.de/oer/t4p1q/">Twitter im Literatur- und Deutschunterricht</a> (4) <a href="https://www.edulabs.de/oer/ysen5/">Programmieren & Elektronik lernen mit Mikrocontrollern</a>.
                </p>
                <p>Außerdem gibt es Tipps und Tools wie eigene Konzepte und Materialien unaufwendig und unter sinnvollen Urheberrechtskriterien sicher, auffindbar und nachnutzbar im Internet veröffentlicht werden können.</p>


                <p><strong>Dauer:</strong> mind. 4h / max. 8h<br>
                    <strong>Teilnehmerzahl:</strong> 6-25<br>
                    <strong>Schulform:</strong> alle<br>
                    <strong>Vorkenntnisse:</strong> Keine<br>
                    <strong>Technische Ausstattung:</strong> Bring Your Own Device (=BYOD) – die TN sind aufgefordert ihre eigenen Devices (Laptops, Tablets, Smartphones) mitzubringen. </p>
                <p>Kontakt: <a href="mailto:christine.kolbe@medialepfade.org">Christine Kolbe</a></p>

                <hr>

                <p>

                <h3>OER-Fortbildung: Wie finde, nutze und erstelle ich offene Lehr- und Lernmaterialien?</h3>

                </p>

                <p>

                Wir finden: Ideen für zeitgemäße Lehr- und Lernkonzepte, Materialien sowie
                Empfehlungen zu Methoden und Tools sollten allgemein kostenfrei zugänglich, gut
                auffindbar und nachnutzbar ohne nennenswerte urheberrechtliche Schranken im
                Internet veröffentlicht werden. Als sogenannte Open Educational Resources (OER)
                können offene Bildungsangebote von Lehrkräften für ihre jeweiligen Lerngruppe
                besser angepasst und wiederveröffentlicht werden. Pädagogisch spannend wird es
                auch, wenn z.B. in der Ergebnissicherung, der Lernenden selbst zum Autor
                offener Bildungsressourcen wird.  
                </p>
                <p>
                Damit dieser Ansatz auch in der Lehrerbildung als zielführende Strategie und
                Leitlinie im Bereich Schulentwicklung bekannter wird, können interessierte
                Lehrkräfte und Kollegien kostenlose praxisorientierte Tagesworkshops bei uns
                anfragen.
                </p>


                <h4>Themenblöcke:</h4> 
                <p>
                <ol>
                  <li>OER kennenlernen: Einführung in Hintergründe, freie Lizenzen, OER in der
                    deutschen Bildungslandschaft </li>
                  <li>OER finden: freie Inhalte im Netz, hilfreiche
                OER-Sammlungen und Websites </li> 
                  <li>OER erstellen: Tools für Online-Publikation
                (tutory.de, hackMD) und die Einbindung in OER-Repositorien anhand eigener
                Materialien praktisch erfahren.</li>
                </ol>
                </p>

                <p>
                Bis zum 1.8.2018 können wir über edulabs ein begrenztes Kontingent an voll
                finanzierten Fortbildungseinheiten anbieten.
                </p>

                <p>
                <strong>Dauer:</strong> mind. 4h / max. 8h<br> 
                <strong>Teilnehmerzahl:</strong> 6-15<br> 
                <strong>Schulform:</strong> alle<br>
                <strong>Vorkenntnisse:</strong> Keine<br> 
                <strong>Technische Ausstattung:</strong> Bring Your Own Device (=BYOD)
                – die Teilnehmenden sind aufgefordert, ihre eigenen Devices (Laptops, Tablets,
                Smartphones) mitzubringen. 
                </p>


                <p>
                Bei Interesse sprechen Sie uns gern an!
                Ansprechpartnerin: <a href="mailto:christine.kolbe@medialepfade.org">Christine Kolbe</a>
                </p>
            </div>
        </div>
    </section>
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
