<div class="content-wrap filter-items green">
  {% include partials/dw-filters.liquid %}
</div>
{%if include.posts_num %}
<div class="isotope-wrap col-xs-22 col-xs-push-1 col-lg-push-3 no-padding">
{% else %}
<div class="isotope-wrap col-xs-22 col-xs-push-1 no-padding">
{% endif %}
    <div class="grid-sizer col-xs-24 col-sm-12 col-md-8 col-lg-6 col-xlg-4"></div>
    {{ include.type }}
    {% if include.type %}
    {% assign posts = site.dw | where: include.type, include.theme_num %}
    {% else %}
    {% assign posts = site.dw %}
    {% endif %}
    {% for post in posts %}
      {% assign categories = post.tags | join:', ' %}
      {% if categories %}
          {% assign categories = "#" | append:categories %}
      {% endif %}
      {% assign fach = post.fach | join:' ' %}
      {% assign medien = post.medien | join:' ' %}
      {% assign kmk = post.kmk | join:' ' %}
      {% include partials/dw/dw-teaser.liquid date=post.date kmk=kmk fach=fach medien=medien featured=post.featured url=post.url filter=post.tags desc=post.desc categories=categories src=post.teaser_img_src headline=post.title copy=post.teaser %}

    {% endfor %}
</div>
