<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Mitmachen</h2>
            <p>Freie Bildungsmaterialien sind dir wichtig und du möchtest zeitgemäße Bildung voranbringen? Dann freuen wir uns auf dich und deine Erfahrungen.</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn white" href="{{ site.url }}/join" target="_blank">Jetzt mitmachen</a>
        </div>
    </section>
</div>
