<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Mitmachen</h2>
            <p>Freie Bildungsmaterialien sind Dir wichtig? Du findest, dass digitale Bildung mehr als ein
                digitales Arbeitsblatt ist? Dann freuen wir uns auf Dich und Deine Erfahrungen. Über unseren
                Newsletter erhälst Du Informationen zu den Planungsgesprächen, an denen Du teilnehmen
                kannst, hinzu kommen aktuelle Informationen zum Projektfortschritt und den
                ersten Lab-Treffen.</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn white" href="http://okfn.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&id=9ceae2ed43" target="_blank">Zum Newsletter</a>
        </div>
    </section>
</div>
