<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Mitmachen</h2>
            <p>Freie Bildungsmaterialien sind Dir wichtig? Du findest, dass digitale Bildung mehr als ein
            digitales Arbeitsblatt ist?<br> Dann freuen wir uns auf Dich und Deine Erfahrungen.</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn white" href="{{ site.url }}/join" target="_blank">...und wie?</a>
        </div>
    </section>
</div>
