/* from https://fonts.googleapis.com/css?family=Karla:400,700 */
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(Karla-Regular-latin-ext.woff2) format('woff2'); /*https://fonts.gstatic.com/s/karla/v6/qkBbXvYC6trAT7RbLtyG5Q.woff2*/
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(Karla-Regular-latin.woff2) format('woff2'); /*https://fonts.gstatic.com/s/karla/v6/qkBbXvYC6trAT7RVLtw.woff2*/
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'), url(Karla-Bold-latin-ext.woff2) format('woff2'); /*https://fonts.gstatic.com/s/karla/v6/qkBWXvYC6trAT7zuC8m3xLt3mQ.woff2*/
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'), url(Karla-Bold-latin.woff2) format('woff2'); /*https://fonts.gstatic.com/s/karla/v6/qkBWXvYC6trAT7zuC8m5xLs.woff2*/
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
