<footer>
<div class="row footer">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
        <h2 id="kontakt">Kontakt</h2>
        <a href="mailto:info@edulabs.de">Email </a>|
        <a href="https://twitter.com/edulabsde">Twitter </a>|
        <a href="https://github.com/okfde/edulabs"> github</a>
        <hr>
        <a href="{{site.baseurl}}/impressum/index.html">Impressum |</a>
        <a href="/team"> Team |</a>
        <a href="/codeofconduct"> Code of Conduct</a>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<!-- row -->
</footer>
