<div class="firstpost">
    <h3 class="entrytitle">
        <!-- <strong>Letzter Beitrag: </strong><br><br> -->

        {{ post.date | date: '%-d. %B %Y' }}
        {% if page.title %}
        <u><a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a></u>
        {% endif %}
        {% if post.title %}
        <u><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></u>
        {% endif %}
        <div class="trenner"><hr></div>
    </h3>
    <div class="entrycontent post__content">{{ content }}</div>
</div>
