<div class="edusprint-author col-xs-20 col-xs-push-2 col-md-12 col-md-push-0 no-padding">
    <div class="edusprint-author-row">
        <div class="author-image-wrap col-xs-24 col-sm-12 col-md-8">
            <div class="author-smiley"></div>
        </div>
        <div class="author-content-wrap col-xs-24 col-sm-12 col-md-16">
            <div class="author-content-inner">
                <h3 class="author-name">{{ include.name }}</h3>
                {% if include.url != '' %}
                <a href="{{ include.url }}" class="external-link fixed">WEBSITE</a>
                {% endif %}
                <a href="mailto:{{ include.email }}" class="external-link fixed">EMAIL</a>
            </div>
        </div>
    </div>
</div>
