<div class="isotope-wrap col-xs-22 col-xs-push-1 no-padding">
    <div class="grid-sizer col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xlg-4"></div>
    <h2 class="no-results hidden">Leider keine Ergebnisse.</h2>
    {{ include.type }}
    {% if include.type %}
        {% assign posts = site.dw | where: include.type, include.theme_num %}
    {% else %}
        {% assign posts = site.dw %}
        {% if include.visible == 0 %}
            {% assign posts = posts | where: "visible", 0 %}
        {% else %}
            {% assign posts = posts | where: "visible", 1 %}
        {% endif %}
    {% endif %}
    {% if include.number > 0 %}
        {% assign num = {{include.number}} %}
    {% else %}
        {% assign num = posts.length %}
    {% endif %}
    {% for post in posts limit:num %}
       {% if post.tags %}
           {% assign categories = "#" %}
           {% assign filter = '' %}
           {% assign ts = post.tags | split: ',' %}
           {% for tag in ts %}
              {% assign t = tag | remove:',' %}
              {% if forloop.last == false %}
              {% assign categories = categories | append: tag | append: ", "  %}
              {% else %}
              {% assign categories = categories | append: tag  %}
              {% endif %}
           {% endfor %}

       {% assign filter = post.tags | split: ',' | join: ' ' |%}
       {% assign filter = filter | remove: "[" | remove: "]" | remove: '"' %}
       {% endif %}
       {% assign fach = post.fach | join:' ' %}
       {% assign long-fach = post.long-fach | join:' ' %}
       {% assign medien = post.medien | join:' ' %}
       {% assign top_kmk = post.top-kmk | join:' ' %}
       {% assign zielgruppe = post.zielgruppe | join:' ' %}
       {% assign dauer = post.dauer | join:' ' %}
       {% assign tags = post.tags | split:',' %}
       {% assign link = post.link %}
       {% assign art = post.art %}
       {% include partials/edusprint/edusprint-teaser.liquid art=art link=link long-fach=long-fach fach=fach dauer=dauer zielgruppe=zielgruppe title=post.title fach=fach medien=medien top_kmk=top_kmk filter=filter category=categories icons="" headline=post.titel copy=post.desc %}
    {% endfor %}
</div>
