<div class="isotope-wrap col-xs-22 col-xs-push-1 no-padding">
    <div class="grid-sizer col-xs-24 col-sm-12 col-md-8 col-lg-6 col-xlg-4"></div>
    <h2 class="no-results hidden">Leider keine Ergebnisse.</h2>
    {{ include.type }}
    {% if include.type %}
    {% assign posts = site.dw | where: include.type, include.theme_num %}
    {% else %}
    {% assign posts = site.dw %}
    {% endif %}
    {% for post in posts %}
      {% if post.visible == 0  %}
      {% else %}
          {% if post.tags %}
              {% assign categories = "#" %}
              {% assign filter = '' %}
              {% for tag in post.tags %}
                 {% assign t = tag | remove:',' %}
                 {% assign categories = categories | append: tag | append: ' ' %}
                 {% assign filter = filter | append: t | append: ' ' %}
              {% endfor %}
          {% endif %}
          {% assign fach = post.fach | join:' ' %}
          {% assign long-fach = post.long-fach | join:' ' %}
          {% assign medien = post.medien | join:' ' %}
          {% assign top_kmk = post.top-kmk | join:' ' %}
          {% assign zielgruppe = post.zielgruppe | join:' ' %}
          {% assign dauer = post.dauer | join:' ' %}
          {% assign tags = post.tags | split:',' | join:' ' %}
          {% include partials/edusprint/edusprint-teaser.liquid long-fach=long-fach fach=fach dauer=dauer zielgruppe=zielgruppe title=post.title fach=fach medien=medien top_kmk=top_kmk filter=filter category=post.tags icons="" headline=post.titel copy=post.desc %}
      {% endif %}
    {% endfor %}
</div>
