// =============================================================
// =============================================================
//
// Arow component - for landing page top
//
// =============================================================
// =============================================================

.arrow {
  min-height: 87vh;
  position: relative;
  @media screen and (max-height: 380px) {min-height: 21vh;}
  // Position the arrow
  .arrow-down {
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -3.0rem;
  }

  @media screen and (max-width: 480px) {
    .arrow-down {
      bottom: 10%;
    }
  }

  @media screen and (max-height: 380px) {.arrow-down {display: none;}
  }
}
