// =============================================================
// =============================================================
//
// Hero component - for landing page top
//
// =============================================================
// =============================================================

.hero {
  min-height: 100vh;
  position: relative;
@media screen and (max-height: 380px) {min-height: 23vh;}
  // Position the arrow
  .arrow-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -3.0rem;
  }

  @media screen and (max-width: 480px) {
    .arrow-down {
      bottom: 10%;
    }
  }

  @media screen and (max-height: 380px) {.arrow-down {display: none;}
  }
}
