<div class="fullwidth-image-wrap">
    <div class="fullwidth-image" style="background-image: url('{{ site.baseurl }}{{ include.src }}');"></div>
    <div class="content-wrap">
        <span class="caption align-right">{{ include.caption }}</span>
    </div>
</div>