---
---

@import "reset";
@import "config";

@import "arrow";

body {
	color: $color-black;
	background: $color-white;
	font-family: 'Inconsolata', ;
	font-size: 100%;
	font-weight: 400;
	padding-top: 20px;
}
h1 {
	margin-bottom: 5px;
}
p {
	font-size: 1em;
	line-height: 150%;
}
a {
  color: $color-link;
  text-decoration: none;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	 //background-color: $color-grey;
	 text-decoration: none;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}
ul {
	list-style: none;
	li {
		padding: 5px;
		padding-left: 10px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}
blockquote {
  color: $color-black;
  border-left: 4px solid $color-black;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

.wrapper {
	max-width: 770px;
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 60px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 5px;
	}
}

.container-fluid {
	padding-right: 0px;
  padding-left: 0px;
}



.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	h1 {
		font-size: 1.8em;
		margin-bottom: 0;
	}
	ul {
		font-size: 1.2em;
		text-align: justify;
		margin-top: 10px;
		li {
			display: inline;
		}
		li:first-child {
			padding-left: 0px;
		}
		li:last-child {
			padding-left: 100%;
		}
	}
	@media screen and (max-width: $br) {
	ul {text-align: left;}
	}
}

section {

}

.section-grey{
	background-color: #f0f1f2;
}

.section-white{
	background-color: #ffffff;
}





.blog {
	padding-bottom: 30px;
	text-align: justify;
	/* hyphens */
   	-moz-hyphens: auto;
   	-o-hyphens: auto;
   	-webkit-hyphens: auto;
   	-ms-hyphens: auto;
   	hyphens: auto;
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}
}

.music {
	padding-bottom: 30px;
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}
	a {
		padding: 5px;
		padding-left: 10px;
	}
}

.post {
	padding-bottom: 30px;
	&__back {
		a {

		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: 6px;
		h1 {
			display: inline-block;
			font-size: 1.6em;
			font-weight: 700;
			padding-right: 10px;
			padding-bottom: 2px;
			text-decoration: none;
			border-bottom: 3px solid $color-black;
		}
	}
	&__date {
		p {
			font-size: 1em;
			font-style: italic;
		}
	}
	&__meta {
		p {

		}
	}
	&__content {
		padding-top: 40px;
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 15px;
		}
		a {
			padding-bottom: 1px;
			border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}




.about {
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.2em;
			font-style: italic;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 10px;
		}
	}
}
.logol {
	background-color: transparent;
	text-aligne: center;
	width: 49%;
	height: auto;
	min-width: 120px;
	a:hover {background-color: transparent;}
}
.logolBox {
	background-color: transparent;
	float: left;
	width: 49%;
	height: auto;
	min-width: 120px;
	a:hover {background-color: transparent;}
}
.logor {
	background-color: transparent;
	text-aligne: center;
	width: 51%;
	height: auto;
	min-width: 140px;
	a:hover {background-color: transparent;}
}
.logorBox {
	background-color: transparent;
	float: right;
	width: 51%;
	height: auto;
	min-width: 140px;
	a:hover {background-color: transparent;}
}
.btn {
	background-color: $color-white;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 3px;
	padding: 3px 10px 0px 10px;
	border: solid #000000 1px;
	text-decoration: none;
		h1 {
		font-size: 1.3em;
		//color: #9D9D9D;
		}
		//h1:hover {
		//	color: #FFF;
		//	background-color: transparent;
		//}
}
.btn:hover {
	 background-color: $color-grey;
	 text-decoration: none;
}
.form-actions {
	text-align: center;
    	background-color: transparent;
	padding-bottom: 55px;
}
.starter {
	padding-bottom: 40px;
	text-align: justify;
	padding-top: 20px;

	/* hyphens */
   	-moz-hyphens: auto;
   	-o-hyphens: auto;
   	-webkit-hyphens: auto;
   	-ms-hyphens: auto;
   	hyphens: auto;
	h1 {
		text-align: left;
		font-size: 1.4em;
		margin-bottom: 5px;
	}
}

.nav { li { a {
	position: relative;
	display: block;
	padding: 13px 0px;
}}


}
.icon-bar {
   background-color:#000000 !important;
}

.navbar {
	padding-top: 10px;
	margin-bottom: 30px;
}

.navbar-brand {
    margin-left: -32px !important;
		font-size: 2.3em;
		color: #000267 !important;


  	@media screen and (max-width: 770px) {
		margin-left: -15px !important;
    	}
}
.navbar-toggle {
	margin-right: -10px;
}
.navbar-nav {
	@media screen and (min-width: 770px){
		float: right;
		margin-right: -49px;
	}
  	@media screen and (min-width: 1000px) {
		margin-right: -53px;
    	}
}
.navbar-nav > li {
  	font-size: 18px;
	color: #000267;
a:hover {
	
	font-size: 18px !important;}
  }

.splash {
	padding-top: 80px;
	padding-bottom: 40px;
}

.splash p {
	line-height: 2em;
	font-size: 15px;
}

.splash h2 {
	line-height: 1.3em;
	font-size: 30px;
	padding-bottom: 10px
}

.logo-note{
	vertical-align: super;
	font-size: 25px;
	color: $color-red;
}
.logo-note-txt {
	font-size: 10px;
}
.foerdernr {
	font-size: 9px;
	text-aligne: right !important;
}


.cta-blue {
	background-color: #000267;
	color: #ffffff;
	text-align: center;
	}

.cta-blue-inner {
	padding: 80px 0;
}
