$icons: (
	  sprite: (width: 1750px, height: 1651px, svgPath: 'svg-build/spritesheet.svg'),
 	author-smiley: (width: 99.3px, height: 44.7px, backgroundX: 0px, backgroundY: 0px),
 	dauer_01_unterrichtsreihe: (width: 66.3px, height: 66.3px, backgroundX: -110px, backgroundY: -55px),
 	dauer_01_unterrichtsreihe_small: (width: 23.200000000000003px, height: 23.200000000000003px, backgroundX: -187px, backgroundY: -132px),
 	dauer_02_doppelstunde: (width: 66.3px, height: 66.3px, backgroundX: -221px, backgroundY: -166px),
 	dauer_02_doppelstunde_small: (width: 23.5px, height: 23.5px, backgroundX: -298px, backgroundY: -243px),
 	dauer_03_45_minuten: (width: 66.3px, height: 66.3px, backgroundX: -332px, backgroundY: -277px),
 	dauer_03_45_minuten_small: (width: 23.200000000000003px, height: 23.200000000000003px, backgroundX: -409px, backgroundY: -354px),
 	dauer_04_ubung_bis_zu_20_min: (width: 66.3px, height: 66.3px, backgroundX: -443px, backgroundY: -388px),
 	dauer_04_ubung_bis_zu_20_min_small: (width: 24.200000000000003px, height: 24.200000000000003px, backgroundX: -520px, backgroundY: -465px),
 	dauer_05_flexibel: (width: 66.3px, height: 66.3px, backgroundX: -555px, backgroundY: -500px),
 	dauer_05_flexibel_small: (width: 23.4px, height: 23.4px, backgroundX: -632px, backgroundY: -577px),
 	medieneinsatz_01_ohne_internetzugang: (width: 66px, height: 48px, backgroundX: -666px, backgroundY: -611px),
 	medieneinsatz_01_ohne_internetzugang_small: (width: 23.700000000000003px, height: 17.3px, backgroundX: -742px, backgroundY: -669px),
 	medieneinsatz_02_pc_laptop: (width: 70.1px, height: 53.7px, backgroundX: -776px, backgroundY: -697px),
 	medieneinsatz_02_pc_laptop_small: (width: 23.700000000000003px, height: 18.2px, backgroundX: -857px, backgroundY: -761px),
 	medieneinsatz_03_tablet_smartphone: (width: 51.9px, height: 54.5px, backgroundX: -891px, backgroundY: -790px),
 	medieneinsatz_03_tablet_smartphone_small: (width: 23.9px, height: 25.1px, backgroundX: -953px, backgroundY: -855px),
 	medieneinsatz_04_hardware_basteln: (width: 55.2px, height: 53.4px, backgroundX: -987px, backgroundY: -891px),
 	medieneinsatz_04_hardware_basteln_small: (width: 23.4px, height: 22.700000000000003px, backgroundX: -1053px, backgroundY: -955px),
 	vorbereitungszeit_01_keine: (width: 66.3px, height: 66.3px, backgroundX: -1087px, backgroundY: -988px),
 	vorbereitungszeit_01_keine_small: (width: 23.299999999999997px, height: 23.299999999999997px, backgroundX: -1164px, backgroundY: -1065px),
 	zielgruppe_01_kita_vorschule: (width: 66.3px, height: 66.3px, backgroundX: -1198px, backgroundY: -1099px),
 	zielgruppe_01_kita_vorschule_small: (width: 23.700000000000003px, height: 23.700000000000003px, backgroundX: -1275px, backgroundY: -1176px),
 	zielgruppe_02_grundstufe_1-3: (width: 66.3px, height: 66.3px, backgroundX: -1309px, backgroundY: -1210px),
 	zielgruppe_02_grundstufe_1-3_small: (width: 23px, height: 23px, backgroundX: -1386px, backgroundY: -1287px),
 	zielgruppe_03_grundstufe_4-6: (width: 66.3px, height: 66.3px, backgroundX: -1419px, backgroundY: -1320px),
 	zielgruppe_03_grundstufe_4-6_small: (width: 23.299999999999997px, height: 23.200000000000003px, backgroundX: -1496px, backgroundY: -1397px),
 	zielgruppe_04_sekundarstufe_1: (width: 66.3px, height: 66.3px, backgroundX: -1530px, backgroundY: -1431px),
 	zielgruppe_04_sekundarstufe_1_small: (width: 23px, height: 23px, backgroundX: -1607px, backgroundY: -1508px),
 	zielgruppe_05_sekundarstufe_2: (width: 66.3px, height: 66.3px, backgroundX: -1640px, backgroundY: -1541px),
 	zielgruppe_05_sekundarstufe_2_small: (width: 23px, height: 23px, backgroundX: -1717px, backgroundY: -1618px),
);
