{% if site.data.events %}
        {% for event in site.data.events %}
            {% if event.featured == true %}
                <img src="/assets/img/static/arrow.svg"/> {% if event.url %}<a href="{{event.url}}" target="_blank">{% endif %}<strong>{{ event.name }}</strong>{% if event.url %}</a>{% endif %}<br>- {{ event.date }}<br>- {{ event.city }}<br>
            {% endif %}
        {% endfor %}
{% endif %}