<h4 class="filter-items-headline">NACH KATEGORIE FILTERN:</h4>
{% assign posts = site.dw %}
{% for post in posts %}
    {% assign post_categories = post.categories | join:'|' | append:'|' %}
    {% assign rawcategories = rawcategories | append:post_categories %}
{% endfor %}
{% assign rawcategories = rawcategories | split:'|' | sort %}

{% assign categories = "" %}
{% for category in rawcategories %}
    {% if category != "" %}
        {% if categories == "" %}
            {% assign categories = category %}
        {% endif %}
        {% unless categories contains category %}
            {% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}

<div class="filter-items-inner col-xs-24">
  {% for tag in categories %}
    <a href="/" data-filter=".tag-{{ forloop.index }}" class="filter-item">#{{tag}}</a>
  {% endfor %}
</div>
