<div class="team-teaser-wrap col-xs-22 col-xs-push-1 col-md-20 col-md-push-2 col-lg-18 col-lg-push-3">
    {% include partials/member-teaser.liquid src="/assets/img/static/member-default.png" copy="" name="Alexa Schaegner" url="https://www.edulabs.de" email="aschaegner@politik-digital.de" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/member-default.png" copy="" name="Maria Grandl" url="https://www.edulabs.de" email="aschaegner@politik-digital.de" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/member-default.png" copy="" name="Steffen Jauch" url="https://www.edulabs.de" email="aschaegner@politik-digital.de" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/member-default.png" copy="" name="Tessa Moje" url="https://www.edulabs.de" email="aschaegner@politik-digital.de" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/member-default.png" copy="" name="Markus Neuschäfer" url="https://www.edulabs.de" email="aschaegner@politik-digital.de" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/member-default.png" copy="" name="Christine Kolbe" url="https://www.edulabs.de" email="aschaegner@politik-digital.de" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/member-default.png" copy="" name="Maximilian Voigt" url="https://www.edulabs.de" email="aschaegner@politik-digital.de" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/member-default.png" copy="" name="Nele Hirsch" url="https://www.edulabs.de" email="aschaegner@politik-digital.de" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/member-default.png" copy="" name="Melanie Stilz" url="https://www.edulabs.de" email="aschaegner@politik-digital.de" %}
</div>