{% assign rawcategories = "" %}
{% for project in site.project %}
    {% assign proj_categories = project.layout | join:'|' | append:'|' %}
    {% assign rawcategories = rawcategories | append:proj_categories %}
{% endfor %}
{% assign rawcategories = rawcategories | split:'|' | sort %}

{% assign categories = "" %}
{% for category in rawcategories %}
    {% if category != "" %}
        {% if categories == "" %}
            {% assign categories = category %}
        {% endif %}
        {% unless categories contains category %}
            {% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}
<h4 class="filter-items-headline">NACH KATEGORIE FILTERN:</h4>
<div class="filter-items-inner col-xs-24">
    {% for cat in categories %}
    <a href="/" data-filter=".{{ cat }}" class="filter-item">#{% if cat == "lab" %}Initiativen{% else %}Projekte{% endif %}</a>
    {% endfor %}
    {% comment %}
    <a href="/" data-filter=".kategorie-1" class="filter-item">#kategorie 1</a>
    <a href="#" data-filter=".kategorie-2" class="filter-item">#kategorie 2</a>
    <a href="#" data-filter=".kategorie-3" class="filter-item">#kategorie 3</a>
    <a href="#"data-filter=".kategorie-4" class="filter-item">#kategorie 4</a>
    <a href="#" data-filter=".kategorie-5" class="filter-item">#kategorie 5</a>
    <a href="#" data-filter=".kategorie-6" class="filter-item">#kategorie 6</a>
    <a href="#" data-filter=".kategorie-7" class="filter-item">#kategorie 7</a>
    <a href="#" data-filter=".kategorie-8" class="filter-item">#kategorie 8</a>
    <a href="#" data-filter=".kategorie-9" class="filter-item">#kategorie 9</a>
    <a href="#" data-filter=".kategorie-10" class="filter-item">#kategorie 10</a>
    <a href="#" data-filter=".kategorie-11" class="filter-item">#kategorie 11</a>
    <a href="#" data-filter=".kategorie-12" class="filter-item">#kategorie 12</a>
    <a href="#" data-filter=".kategorie-13" class="filter-item">#kategorie 13</a>
    {% endcomment %}
</div>
