
/******************************************************************
Customizations, to be integrated 

******************************************************************/

ul li {
  padding-left: 0.5em;
  text-indent: -0.5em;
}

.image-subtitle, .image-subtitle a {
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: 3.5em;
}