---
layout: default
---
<div class="container">
	<nav class="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>                        
	      </button>
	      <div class="navbar-brand col-md-5 header"><h1>{{ site.name }}</h1></div>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav col-md-7 header"> {% for item in site.data.navigation %}
			<li>
			<a href="{{ item.url }}">{{ item.title }}</a>
			</li>
		{% endfor %}
		</ul>
	    </div>
	  </div>
	</nav>
	<div class="arrow">
		<div class="row">
			<div class="col-md-12 col-xs-18 starter"><h1>Offene Bildung mit digital gestützten Methoden</h1>
				<p>Hier entsteht die Webseite zu edulabs. Mit der wird es bald ein erweitertes Angebot geben, bis dahin informieren wir hier mit minimalem Design.</br>
Zusammen mit der Community entwickeln wir regionale Treffen in BE, NRW und BW, bei denen im interdisziplinären Rahmen digitale und frei zugängliche Bildungsformate entstehen sollen. Wer sich für diese bereits engagiert, ist herzlich eingeladen, sich zu beteiligen.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-18 form-actions"><div class="btn"><a href="#mitmachen"><h1>Mitmachen</h1></a></div></div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-18">
				<div class="logol"><a href="https://www.bmbf.de/"><img class="logol" src="/img/BMBF_Logo.png" border="0" alt="Logo BMBF"></img></a></div>
				<div class="logor"><a href="https://okfn.de/"><img class="logor" src="/img/logo-okfn.png" border="0" alt="Logo okfn DE"></img></a></div>
			</div>
		</div>
		<div class="raw">
			<div class="cold-md-12 col-xs-18">
				<a href="#projekt"><img class="arrow-down" src="/img/arrow-down.png"></img></a>
			</div>
		</div>
	</div>
	<div class="raw">
		<div class="col-md-12 col-xs-18 blog">
			<hr>
			<h1 id="projekt">Über das Projekt</h1>
			<p>Wie lassen sich offene Bildungsangebote mit digital gestützten Methoden gestalten? Edulabs sind lokale Gruppen aus Menschen, die ihre didaktischen, technischen und gestalterischen Fähigkeiten einsetzen, um zusammen innovative und nachnutzbare Bildungsmaterialien zu entwickeln.</br>
Das Pilotprojekt ist am 1.3.2017 in den Regionen Berlin, Baden-Württemberg und Nordrhein-Westfalen gestartet. Die Labs verstehen sich als regionale Inkubatoren für Bildungsformate, in die digitale Methoden auf neuartige Weise eingebunden werden. In drei Bundesländern organisiert das Projekt regelmäßige Treffen von interdisziplinären Teams, in denen Materialien und digital gestützte Methoden erstellt, dokumentiert und verbessert werden. Die Lab-Projekte werden didaktisch und technisch begleitet, sowie bei der Vernetzung mit Bildungsträgern unterstützt.</p>
</br>
			<div id="mitmachen" class="blog"><h1>Mitmachen:</h1>
			<p>Freie Bildungsmaterialien sind Dir wichtig? Du findest, dass digitale Bildung mehr als ein digitales Arbeitsblatt ist? Dann freuen wir uns auf Dich und Deine Erfahrungen. Über unseren Newsletter erhälst Du Informationen zu den Planungsgesprächen, an denen Du teilnehmen kannst, hinzu kommen aktuelle Informationen zum Projektfortschritt und den ersten Lab-Treffen.</p>
			</div>
	</div>
	<div class="raw">
		<div class="col-md-12 col-xs-18 blog">
			<hr>
			<h1 id="blog">Aktuelle Blogeinträge</h1>
			<ul>
				{% for post in site.posts %}
	       			<li>
		    			<span style="font-weight: bolder;">--> </span><span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a style="font-weight: bolder;" href="{{ post.url }}">{{ post.title }}</a>
		    			{{post.excerpt}}
				</li>
				{% endfor %}
			</ul>
		</div>
	<div class="raw">
		<div class="col-md-12 col-xs-18 blog"> 
			<hr>   
			<h1 id="kontakt">Kontakt</h1>
    			<ul>
        			<li>
				    <a href="http://twitter.com">Mail</a>
				</li>
				<li>
				    <a href="http://twitter.com">Facebook</a>
				</li>
				<li>
				    <a href="http://twitter.com">Twitter</a>
				</li>
			</ul>
		</div>
</div>
