---
layout: default
---
<div class="container-fluid">
<div class="about">
    <a class="about__back" href="/">&lt;-- back</a>
    <div class="about__content">
        {{ content }}
    </div>
</div>

<footer>
    <div class="row splash">
	<div class="col-xs-1 col-md-1"></div>
	<div class="col-xs-10 col-md-10">
	    <h2 id="kontakt">Kontakt</h2>
            <a href="mailto:info@edulabs.de">Mail </a>//
            <a href="https://twitter.com/edulabsde">Twitter</a>
	</div>
	<div class="col-xs-1 col-md-1"></div>
    </div>
    <!-- row -->
</footer>
</div>
