---
layout: default
---
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
			<div class="about">
			    <a class="about__back" href="/">&lt;-- back</a>
			    <div class="about__content">
				{{ content }}
			    </div>
			</div>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
	</div>
	<footer>
	    <div class="row splash">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
		    <h2 id="kontakt">Kontakt</h2>
		    <a href="mailto:info@edulabs.de">Mail </a>//
		    <a href="https://twitter.com/edulabsde">Twitter</a>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
	    </div>
	    <!-- row -->
	</footer>
</div>
