---
layout: default
---
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
			<div class="post">
			    <a class="post__back" href="/">&lt;-- back</a>
			    <div class="post__content">
				{{ content }}
			    </div>
			</div>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
	</div>
	<hr>
	<footer>
	    <div class="row footer">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
		    <h2 id="kontakt">Kontakt</h2>
		    <p><a href="mailto:info@edulabs.de">Mail </a>//<a href="https://twitter.com/edulabsde"> Twitter</a></p>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
	    </div>
	    <!-- row -->
	</footer>
</div>
