<!doctype html>
<html lang="en">
<head>
    <title>edulabs</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Rainbow Unicorn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
{% include header.liquid %}
<div class="page-wrap">
    {{ content }}
</div>
{% include footer.liquid %}