---
layout: default
---
<div class="row blogpost section-grey">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
        <div class="post">
            <div class="post__title">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="post__date">
                <p>{{ page.date | date: '%-d %B %Y' }}</p>
            </div>
            <div class="post__meta">
                <p>{{ tags_content }}</p>
            </div>
            <div class="post__content"?>
                {{ content }}
            </div>
            <br>
            <hr>
            <div class="post__back">
                <a href="{{site.baseurl}}/blog">&lt;-- zurück</a>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
</div>