---
layout: default
---

<div class="post">
	<div class="post__back">
    	<a href="/">&lt;-- home</a>
    </div>
    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>
    <div class="post__date">
    	<p>{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>
    <div class="post__meta">
    	<p>{{ tags_content }}</p>
    </div>
    <div class="post__content"?>
        {{ content }}
    </div>
</div>
<footer>
    <div class="row splash">
	<div class="col-xs-1 col-md-1"></div>
	<div class="col-xs-10 col-md-10">
	    <h2 id="kontakt">Kontakt</h2>
            <a href="mailto:info@edulabs.de">Mail </a>//
            <a href="https://twitter.com/edulabsde">Twitter</a>
	</div>
	<div class="col-xs-1 col-md-1"></div>
    </div>
    <!-- row -->
</footer>

