$icons: (
	  sprite: (width: 1643px, height: 1608px, svgPath: '../img/sprite.svg'),
 	dauer_01_unterrichtsreihe: (width: 66.75px, height: 66.75px, backgroundX: 0px, backgroundY: 0px),
 	dauer_01_unterrichtsreihe_small: (width: 23.880000000000003px, height: 23.6px, backgroundX: -77px, backgroundY: -77px),
 	dauer_02_doppelstunde: (width: 66.75px, height: 66.75px, backgroundX: -111px, backgroundY: -111px),
 	dauer_02_doppelstunde_small: (width: 23.880000000000003px, height: 23.6px, backgroundX: -188px, backgroundY: -188px),
 	dauer_03_45_minuten: (width: 66.75px, height: 66.75px, backgroundX: -222px, backgroundY: -222px),
 	dauer_03_45_minuten_small: (width: 23.880000000000003px, height: 24.35px, backgroundX: -299px, backgroundY: -299px),
 	dauer_04_ubung_bis_zu_20_min: (width: 66.75px, height: 66.75px, backgroundX: -333px, backgroundY: -334px),
 	dauer_04_ubung_bis_zu_20_min_small: (width: 23.880000000000003px, height: 23.21px, backgroundX: -410px, backgroundY: -411px),
 	dauer_05_flexibel: (width: 66.75px, height: 66.75px, backgroundX: -444px, backgroundY: -445px),
 	dauer_05_flexibel_small: (width: 23.880000000000003px, height: 23.6px, backgroundX: -521px, backgroundY: -522px),
 	medieneinsatz_01_ohne_internetzugang: (width: 66.75px, height: 48.75px, backgroundX: -555px, backgroundY: -556px),
 	medieneinsatz_01_ohne_internetzugang_small: (width: 23.880000000000003px, height: 23.6px, backgroundX: -632px, backgroundY: -615px),
 	medieneinsatz_02_pc_laptop: (width: 70.25px, height: 54.25px, backgroundX: -666px, backgroundY: -649px),
 	medieneinsatz_02_pc_laptop_small: (width: 23.880000000000003px, height: 18.64px, backgroundX: -747px, backgroundY: -714px),
 	medieneinsatz_03_tablet_smartphone: (width: 52px, height: 54.25px, backgroundX: -781px, backgroundY: -743px),
 	medieneinsatz_03_tablet_smartphone_small: (width: 23.880000000000003px, height: 25.049999999999997px, backgroundX: -843px, backgroundY: -808px),
 	medieneinsatz_04_hardware_basteln: (width: 55.33px, height: 53.67px, backgroundX: -877px, backgroundY: -844px),
 	medieneinsatz_04_hardware_basteln_small: (width: 23.880000000000003px, height: 23.049999999999997px, backgroundX: -943px, backgroundY: -908px),
 	vorbereitungszeit_01_keine: (width: 66.75px, height: 66.75px, backgroundX: -977px, backgroundY: -942px),
 	vorbereitungszeit_01_keine_small: (width: 23.880000000000003px, height: 23.049999999999997px, backgroundX: -1054px, backgroundY: -1019px),
 	zielgruppe_01_kita_vorschule: (width: 66.75px, height: 66.75px, backgroundX: -1088px, backgroundY: -1053px),
 	zielgruppe_01_kita_vorschule_small: (width: 23.880000000000003px, height: 23.6px, backgroundX: -1165px, backgroundY: -1130px),
 	zielgruppe_02_grundstufe_1-3: (width: 66.75px, height: 66.75px, backgroundX: -1199px, backgroundY: -1164px),
 	zielgruppe_02_grundstufe_1-3_small: (width: 23.880000000000003px, height: 23.6px, backgroundX: -1276px, backgroundY: -1241px),
 	zielgruppe_03_grundstufe_4-6: (width: 66.75px, height: 66.75px, backgroundX: -1310px, backgroundY: -1275px),
 	zielgruppe_03_grundstufe_4-6_small: (width: 23.880000000000003px, height: 23.6px, backgroundX: -1387px, backgroundY: -1352px),
 	zielgruppe_04_sekundarstufe_1: (width: 66.75px, height: 66.75px, backgroundX: -1421px, backgroundY: -1386px),
 	zielgruppe_04_sekundarstufe_1_small: (width: 23.880000000000003px, height: 23.6px, backgroundX: -1498px, backgroundY: -1463px),
 	zielgruppe_05_sekundarstufe_1_small: (width: 23.880000000000003px, height: 23.6px, backgroundX: -1532px, backgroundY: -1497px),
 	zielgruppe_05_sekundarstufe_2: (width: 66.75px, height: 66.75px, backgroundX: -1566px, backgroundY: -1531px),
);
